@use 'variables' as vars;

@mixin theme-colors(
    $bg, 
    $bg-inverse,
    $on-surface, 
    $text, 
    $text-inverse, 
    $text-70, 
    $text-70-inverse,
    $text-50, 
    $accent, 
    $secondary-accent,
    $border,
    $neutral-1,
    $neutral-2,
    $character-body,
    $character-eyes,
    $character-arms,
    $character-computer-screen,
    $character-computer-keyboard,
    $character-table) {
    
    background-color: $bg;
    // background: $bg;
    color: $text;

    button {
        color: $text-inverse;
        background-color: $bg-inverse;
        border-color: $bg-inverse;

        &:hover,&:focus {
            color: $text;
            background-color: $bg-inverse;
            border-color: $bg-inverse;
        }

        &:disabled {
            // color: $neutral-1;
            background-color: $neutral-2;
            border-color: $bg-inverse;
        }
    }

    input {
        border-color: $border;
        background-color: $bg;
        color: $text;

        &:hover {
            border-color: $border;
        }

        &:disabled {
            background-color: $neutral-1;
            border-color: $neutral-1;
        }
    }

    // Character colors
    .arm {
        & path {
            stroke: $character-arms
        }
    }

    // #character-wrapper {
    //     .arm {
    //         & path {
    //             stroke: $character-arms
    //         }
    //     }
    // }

    .computer {
        &__screen {
            fill: $character-computer-screen;
        }

        &__keyboard {
            fill: $character-computer-keyboard;
        }
    }

    .table {
        fill: $character-table;
    }

    .character {
        &__body {
            fill: $character-body;
        }
        &__eye {
            fill: $character-eyes;
        }
    }
}

@mixin responsive($breakpoint) {
    $value: map-get(vars.$breakpoints, $breakpoint);
    @if $value {
        @media (max-width: $value) {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}