// Globals
@use 'variables' as vars;
@use 'mixins' as mixins;

$button-size: 40px;

.App {
  padding: 0 20%;
  // padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  justify-content:space-between;

  @media (max-width: 1200px) {
    padding: 0 10%;
  }
  
  @media (max-width: 720px) {
    padding: 0 8%;
  }
  
  @media (max-width: 650px) {
    padding: 0 6%;
  }

  @include mixins.theme-colors(
  vars.$light-bg,
  vars.$light-bg-inverse,
  vars.$on-light-surface,
  vars.$light-text,
  vars.$light-text-inverse,
  vars.$light-text-70,
  vars.$light-text-70-inverse,
  vars.$light-text-50,
  vars.$light-accent,
  vars.$light-secondary-accent,
  vars.$neutral-20,
  vars.$neutral-10,
  vars.$neutral-40
  );
}

.App.dark-mode {
  @include mixins.theme-colors(
    vars.$dark-bg,
    vars.$dark-bg-inverse,
    vars.$on-dark-surface,
    vars.$dark-text,
    vars.$dark-text-inverse,
    vars.$dark-text-70,
    vars.$dark-text-70-inverse,
    vars.$dark-text-50,
    vars.$dark-accent,
    vars.$dark-secondary-accent,
    vars.$neutral-90,
    vars.$neutral-90,
    vars.$neutral-80
  );
}


* {
  font-family: Circular;
}

body,
html {
  margin: 0;
  padding: 0;
  // padding: 0 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  position:absolute;
  text-align: center;
  // background: inherit;
  background-color: inherit;
  font-family: 'Mukta Malar', sans-serif;
  font-weight: 700;
  overflow: hidden;
}

p {
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover, &:focus {
    border-color: inherit;
    background-color: inherit;
    outline: 0;
  }
}

input {
  // border: 2px solid inherit;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  background-color: inherit;
  color: inherit;

  &:hover {
    border-color: inherit;
  }

  &:disabled {
    background-color: inherit;
    border-color: inherit;
    cursor: not-allowed;
  }
}

.separator-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

#separator-top {
  max-height: 10%;
}

#separator-bottom {
  max-height: 40%;
}


.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  position: relative;
  width: 100%;
  height: 48px;
  position: relative;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

/* Optional: Adjust the wrapper's top margin to prevent overlap */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  justify-content:center;
  // background: radial-gradient(ellipse at center, #fff 30%, #ffffff 47%);
  background: inherit;
  flex: 1;
}

.center-contrainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: 0;
  justify-content:center;
  background: inherit;
}

// SVG wrapper
#character-wrapper {
  position: relative;
  height: 400px;
  width: 300px;
  z-index: 0;
}

#status {
  color: inherit;
  font-size: 24px;
  font-weight: 200;
  margin-top: -96px;
  z-index: 2;     
  
  @media (max-width: 720px) {
    font-size: 20px;
  }
}

/* Container for the top input and button */
.input-container {
  position: relative;
  bottom: 40px;
  width: 100%;
  // max-width: 400px;
  // margin: 20px auto 0; /* Centers the container and adds top margin */

  display: flex;
  align-items: center;
  justify-content: right;
}

/* Style the text input */
.input {
  width: 100%;
  height: 36px;
  padding: 8px 20px 8px 16px; /* Adjust padding to accommodate the button */
  font-size: 16px;
  font-weight: 500;
  // border: 2px solid inherit;
  border-radius: 1000px;
  outline: none;
  transition: border-color 0.3s ease;
}

/* Style the button */
.input-button {
  height: $button-size;
  width: $button-size;
  position: absolute;
  right: 0px;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 1000px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  margin: 10px;

  &:disabled {
    background-color: inherit;
    cursor: not-allowed;
    color: inherit;
    border-color: inherit;
  }
}