// Globals
@use 'variables' as vars;
@use 'mixins' as mixins;

$button-size: 40px;

.container {
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.App {
  padding: 0 20%;
  // padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 100%;
  margin: 0;
  justify-content:space-between;

  @include mixins.theme-colors(
  vars.$light-bg,
  vars.$light-bg-inverse,
  vars.$on-light-surface,
  vars.$light-text,
  vars.$light-text-inverse,
  vars.$light-text-70,
  vars.$light-text-70-inverse,
  vars.$light-text-50,
  vars.$light-accent,
  vars.$light-secondary-accent,
  vars.$neutral-20,
  vars.$neutral-10,
  vars.$neutral-40,
  vars.$light-character-body,
  vars.$light-character-eyes,
  vars.$light-character-arms,
  vars.$light-character-computer-screen,
  vars.$light-character-computer-keyboard,
  vars.$light-character-table
  );

  &.dark-mode {
    @include mixins.theme-colors(
      vars.$dark-bg,
      vars.$dark-bg-inverse,
      vars.$on-dark-surface,
      vars.$dark-text,
      vars.$dark-text-inverse,
      vars.$dark-text-70,
      vars.$dark-text-70-inverse,
      vars.$dark-text-50,
      vars.$dark-accent,
      vars.$dark-secondary-accent,
      vars.$neutral-90,
      vars.$neutral-90,
      vars.$neutral-80,
      vars.$dark-character-body,
      vars.$dark-character-eyes,
      vars.$dark-character-arms,
      vars.$dark-character-computer-screen,
      vars.$dark-character-computer-keyboard,
      vars.$dark-character-table
    );  
  }

  @include mixins.responsive ('tablet') {
    padding: 0 10%;
  }
  @include mixins.responsive ('mobile') {
    padding: 0 20px;
    // padding-bottom: 16px;
  }
}

@supports (-webkit-touch-callout: none) {
  .App {
    height: calc(var(--vh, 1vh) * 100);
  }
}

* {
  font-family: Circular;
}

body,
html {
  margin: 0;
  padding: 0;
  // padding: 0 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // min-height: 100vh;
  min-height: 100%;
  // position:absolute;
  position: relative;
  text-align: center;
  // background: inherit;
  background-color: inherit;
  font-family: Circular, sans-serif;
  overflow: hidden;
}

p {
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover, &:focus {
    border-color: inherit;
    background-color: inherit;
    outline: 0;
  }
}

input {
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  background-color: inherit;
  color: inherit;

  &:hover {
    border-color: inherit;
  }

  &:disabled {
    background-color: inherit;
    border-color: inherit;
    cursor: not-allowed;
  }
}

.separator-container {
  position: relative;
  width: 100%;
  // height: 100%;
  background-color: inherit;
}

#separator-top {
  max-height: 10%;

  @include mixins.responsive ('mobile') {
    max-height: 5%;
  }
  @include mixins.responsive ('tablet') {
    max-height: 10%;
  }
}

#separator-bottom {
  max-height: 40%;

  @include mixins.responsive ('mobile') {
    max-height: 20%;
  }
  @include mixins.responsive ('tablet') {
    max-height: 20%;
  }
}


.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  position: relative;
  width: 100%;
  height: 56px;
  // position: relative;
  margin-top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-top: calc(env(safe-area-inset-bottom) + 16px);
  background-color: inherit;

  p {
    margin: 0;
    font-family: Circular;
    font-size: 22px;
    font-weight: 700;
    color: inherit;
  }

  @include mixins.responsive ('mobile') {
    margin-top: 12px;
    height: 36px;

    p {
      font-family: Circular;
      font-size: 18px;
      font-weight: 700;
      color: inherit;
    }
  }
}

#mode-button {
  border: 1px solid inherit;
  border-radius: 1000px;
  padding: 4px 8px;
  background-color: inherit;
  color: inherit;
  font-size: 14px;
  // font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 112px;

  @include mixins.responsive ('mobile') {
    padding: 2px 4px;
    font-size: 12px;
  }
}

.toggle-icon {
  margin-right: 4px;
}

/* Optional: Adjust the wrapper's top margin to prevent overlap */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content:center;
  background: inherit;
  flex: 1;
}

.center-contrainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: 0;
  justify-content:center;
  background: inherit;
}

// SVG wrapper
#character-wrapper {
  position: relative;
  height: 400px;
  width: 300px;
  z-index: 0;

  @include mixins.responsive ('mobile') {
    height: 300px;
    width: 200px;
  }
}

#status {
  color: inherit;
  font-size: 24px;
  font-weight: 200;
  margin-top: -96px;
  z-index: 2;     
  
  @include mixins.responsive ('mobile') {
    font-size: 18px;
  }

  @include mixins.responsive ('tablet') {
    font-size: 20px;
  }
}

/* Container for the top input and button */
.input-container {
  position: relative;
  // bottom: 0;
  margin-bottom: 8px;
  width: 100%;
  // max-width: 400px;
  // margin: 20px auto 0; /* Centers the container and adds top margin */

  display: flex;
  align-items: center;
  justify-content: right;
  // padding-bottom: env(safe-area-inset-bottom, 12px);
  @include mixins.responsive ('mobile') {
    margin-bottom: 8px;
  }
}

/* Style the text input */
.input {
  width: 100%;
  height: 36px;
  padding: 8px 20px 8px 16px; /* Adjust padding to accommodate the button */
  font-size: 16px;
  // font-weight: 500;
  // border: 2px solid inherit;
  border-radius: 1000px;
  outline: none;
  transition: border-color 0.3s ease;

  @include mixins.responsive ('mobile') {
    font-size: 14px;
  }

  @include mixins.responsive ('tablet') {
    height: 40px;
  }
}

/* Style the button */
.input-button {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0px;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 1000px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  margin: 10px;

  &:disabled {
    background-color: inherit;
    cursor: not-allowed;
    color: inherit;
    border-color: inherit;
  }

  @include mixins.responsive ('mobile') {
    
  }

  @include mixins.responsive ('tablet') {
    height: 44px;
    width: 44px;
  }
}

#caption {
  color: inherit;
  font-size: 13px;
  margin-top: 12px;  
  
  @include mixins.responsive ('mobile') {
    font-size: 12px;
    margin-top: 8px;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // margin-top: 16px;
  margin-bottom: 16px;
  gap: 6px;

  color: inherit;
  font-size: 13px;

  a {
    color: inherit;
  }

  @include mixins.responsive ('mobile') {
    font-size: 10px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  }

  @include mixins.responsive ('tablet') {
    flex-direction: column;
    line-height: 0.75em;
    gap: 0;
    padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
  }
}